/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .projectCard {
        width: 100%;
        height: auto;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }
    .projectCardImage {
       height: 100px;
       width: 100px;
    }
    #projName {
        color: #546de5;
    }
    #projCol1 {
        display: none;
    }
    #projCol2 {
        margin-left: 1rem;
        width: 150%;
    }
    .imgRow {
        height: 16rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .projectCard {
        width: 100%;
        height: auto;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }
    .projectCardImage {
        height: 100px;
        width: 100px;
     }
    .projectCardText {
        text-align: center;
    }
    #projCol1 {
        display: none;
    }
    #projCol2 {
        margin-left: 1rem;
        width: 150%;
    }
    .imgRow {
        height: 16rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .projectCard {
        width: 100%;
        height: auto;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }

    .projectCardImage {
        height: 100px;
        width: 100px;
     }
    .projectCardText {
        padding: 3rem 0;
    }
    #projName {
        font-size: 20px;
    }
    .imgRow {
        display: none;
    }
    #projCol1 {
        width: 40%;
        height: 15rem;
    }

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .projectCard {
        width: 100%;
        height: auto;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;

    }
    .projectCardImage {
        height: 100px;
        width: 100px;
     }
    .projectCardText {
        padding: 3rem 0;
    }
    #projName {
        font-size: 25px;
    }
    .imgRow {
        display: none;
    }
    #projCol1 {
        width: 40%;
        height: 15rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .projectCard {
        width: 100%;
        height: auto;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }
    .projectCardImage {
        height: 100px;
        width: 100px;
     }
    .projectCardText {
        padding: 4.5rem 0px;
    }
    #projName {
        font-size: 25px;
    }
    #projDesc {
        margin-top: 0;
    }
    .imgRow {
        display: none;
    }
    #projCol1 {
        width: 40%;
        height: 18rem;
    }
}