.topProjectImage {
    width: 100% !important;
    box-shadow: 0 0 5px #ccc !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .projectContainer {
        width: 20rem;
        height: 100%;
        margin: 2rem 0;
    }
    
    .projectCard {
        width: 100%;
        height: 22rem;
        margin: 2rem 0;
    }

    .projectCardImage {
        width: 100%;
        height: 15rem;
    }
    
    #above768 {
        display: none;
    }

    .insideProjectTitle {
        font-size: 28px;
        font-weight: 700;
    }

    .insideProjectSubTitle {
        font-size: 16px;
        color: #7f8c8d;
    }
   
    

    
 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .projectContainer {
        width: 28rem;
        height: 100%;
        margin: 2rem 0;
    }
    .projectCard {
        width: 100%;
        height: 26rem;
        margin: 2rem 0;
    }

    .projectCardImage {
        width: 100%;
        height: 19rem;
    }
    
    #above768 {
        display: none;
    }



    .insideProjectTitle {
        font-size: 32px;
        font-weight: 700;
    }

    .insideProjectSubTitle {
        font-size: 18px;
        color: #7f8c8d;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .projectContainer {
        width: 41rem;
        height: 100%;
        margin: 2rem 0;
    }
    .projectCard {
        width: 100%;
        height: 14rem;
        margin: 2rem 0;
    }
    .projectCardImage {
        width: 19rem;
        height: 14rem;
    }
    
    #projName {
        font-size: 20px;
    }

    #projWhat {
        font-size: 14px;
        color: #2b2b2b;
    }

    #projDesc {
        font-size: 14px;
    }
    
    #projCol1 {
        width: 19rem;
        height: 100%;
    }
    
    #above768 {
        display: inline-flex;
        width: 100%;
    }
    #under768 {
        display: none;
    }

    .insideProjectTitle {
        font-size: 32px;
        font-weight: 700;
    }

    .insideProjectSubTitle {
        font-size: 18px;
        color: #7f8c8d;
    }

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .projectContainer {
        width: 50rem;
        height: 100%;
        margin: 2rem 0;
    }

    .projectCard {
        width: 100%;
        height: 16rem;
        margin: 2rem 0;

    }
    .projectCardImage {
        width: 22.5rem;
        height: 16rem;
     }
   
    #projName {
        font-size: 22px;
    }

    #projWhat {
        font-size: 16px;
        color: #2b2b2b;
    }

    #projDesc {
        font-size: 16px;
    }
    
    #projCol1 {
        width: 22.5rem;
        height: 100%;
    }
    #above768 {
        display: inline-flex;
        width: 100%;
    }
    #under768 {
        display: none;
    }
    .insideProjectTitle {
        font-size: 32px;
        font-weight: 700;
    }

    .insideProjectSubTitle {
        font-size: 18px;
        color: #7f8c8d;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .projectContainer {
        width: 50rem;
        height: 100%;
        margin: 2rem 0;
    }

    .projectCard {
        width: 100%;
        height: 16rem;
        margin: 2rem 0;

    }
    .projectCardImage {
        width: 22.5rem;
        height: 16rem;
     }
   
    #projName {
        font-size: 22px;
    }

    #projWhat {
        font-size: 16px;
        color: #2b2b2b;
    }

    #projDesc {
        font-size: 16px;
    }
    
    #projCol1 {
        width: 22.5rem;
        height: 100%;
    }
    #above768 {
        display: inline-flex;
        width: 100%;
    }
    #under768 {
        display: none;
    }
    .insideProjectTitle {
        font-size: 32px;
        font-weight: 700;
    }

    .insideProjectSubTitle {
        font-size: 18px;
        color: #7f8c8d;
    }

}

