/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .projectContainer {
        width: 20rem;
        height: 100%;
        margin: 2rem 0;
    }
    .projectCard {
        width: 100%;
        height: 22rem;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }

    .projectCardImage {
        width: 100%;
        height: 15rem;
    }
    
    #above768 {
        display: none;
    }

   
    

    
 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .projectContainer {
        width: 28rem;
        height: 100%;
        margin: 2rem 0;
    }
    .projectCard {
        width: 100%;
        height: 26rem;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }

    .projectCardImage {
        width: 100%;
        height: 19rem;
    }
    
    #above768 {
        display: none;
    }






}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .projectContainer {
        width: 41rem;
        height: 100%;
        margin: 2rem 0;
    }
    .projectCard {
        width: 100%;
        height: 14rem;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }
    .projectCardImage {
        width: 100%;
        height: 14rem;
    }
    
    #projName {
        font-size: 20px;
    }

    #projWhat {
        font-size: 14px;
        color: black;
    }

    #projDesc {
        font-size: 14px;
    }
    
    #projCol1 {
        width: 45%;
        height: 100%;
    }
    
    #above768 {
        display: inline-flex;
        width: 100%;
    }
    #under768 {
        display: none;
    }

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .projectContainer {
        width: 50rem;
        height: 100%;
        margin: 2rem 0;
    }

    .projectCard {
        width: 100%;
        height: 16rem;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;

    }
    .projectCardImage {
        width: 100%;
        height: 16rem;
     }
   
    #projName {
        font-size: 22px;
    }

    #projWhat {
        font-size: 16px;
        color: #2c3e50;
    }

    #projDesc {
        font-size: 16px;
    }
    
    #projCol1 {
        width: 45%;
        height: 100%;
    }
    #above768 {
        display: inline-flex;
        width: 100%;
    }
    #under768 {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .projectContainer {
        width: 55rem;
        height: 100%;
        margin: 2rem 0;
    }

    .projectCard {
        width: 100%;
        height: 18rem;
        box-shadow: 0 0 10px #ccc;
        margin: 2rem 0;
    }

    .projectCardImage {
        width: 100%;
        height: 18rem;
     }
   
    #projName {
        font-size: 22px;
    }

    #projWhat {
        font-size: 16px;
        color: #2c3e50;
    }

    #projDesc {
        font-size: 16px;
    }
    
    #projCol1 {
        width: 45%;
        height: 100%;
    }
    #above768 {
        display: inline-flex;
        width: 100%;
    }
    #under768 {
        display: none;
    }

}


.fade-in-bottom-project-1 {
	-webkit-animation: fade-in-bottom-project-1 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom-project-1 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-3 16:37:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom-project-1 {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom-project-1 {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  