.landingResume{
    transition: 0.3s ease-in-out !important;
}

.landingResume:hover {
    color: #546de5 !important;
}

@media (max-width: 575.98px) {
    .landingTitle {
        font-size: 60px !important;
        font-weight: 700;
        margin-bottom: 0;
    }
    
    .landingDesc {
        font-size: 22px !important;
        font-weight: 400 !important;
    }

    .landingNext {
        font-size: 16px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .landingTitle {
        font-size: 80px !important;
        font-weight: 700;
    }
    .landingDesc {
        font-size: 30px !important;
        font-weight: 400 !important;
    }
    .landingNext {
        font-size: 20px !important;
    }

    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .landingTitle {
        font-size: 80px !important;
        font-weight: 700;
    }
    .landingDesc {
        font-size: 30px !important;
        font-weight: 400 !important;
    }
    .landingNext {
        font-size: 20px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .landingTitle {
        font-size: 80px !important;
        font-weight: 700;
    }
    .landingDesc {
        font-size: 30px !important;
        font-weight: 400 !important;
    }
    .landingNext {
        font-size: 20px !important;
    }
}

@media (min-width: 1200px) {
    .landingTitle {
        font-size: 80px !important;
        font-weight: 700;
    }
    .landingDesc {
        font-size: 30px !important;
        font-weight: 400 !important;
    }
    .landingNext {
        font-size: 20px !important;
    }
}
