.navbar {
    box-shadow: 0 0 10px #ccc;
}

.nav-btn {
    color: white;
    background-color: #546de5;
    transition: 0.3s ease;
}
  
.nav-btn:hover {
    background-color: #778beb;
    color: white;
}
  
.nav-item {
    padding: 0 20px;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #546de5 !important;
}

/* Mobile Nav */
#mobile {
    box-shadow: 0 0 10px #ccc;
    height: 4.5rem;
    transition: height 0.3s ease-in;
    background-color: white;
}

.mobileNavExpand {
    display: none;
}

.mobileNavLink {
    color:  #546de5;
}
  

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
        #desktop {
                display: none;
            }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
        #desktop {
                display: none;
            }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
        #mobile {
                display: none;   
               }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
        #mobile {
                display: none;   
               }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
        #mobile {
                display: none;   
               }
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

 
  /* Pop */
@-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }



.icon {
  position: relative;

  width: 80px;
  height: 80px;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 4px;
  top: 1.9rem;
  background: #546de5;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .3s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #546de5;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .3s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after { 
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(405deg);
}
.icon.active .hamburger:after {
  top: 0;
  transform: rotate(495deg);
}

#mobile.active {
  height: 13rem;
}

.mobileNavExpand.active {
  display: block;
}