.navbar {
    box-shadow: 0 0 10px #ccc;
}

.nav-btn {
    color: white;
    background-color: #546de5;
    transition: 0.3s ease;
}
  
.nav-btn:hover {
    background-color: #778beb;
    color: white;
}
  
.nav-item {
    padding: 0 15px;
}

.navBackground {
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* Mobile Nav */
#mobile {
    box-shadow: 0 0 10px #ccc;
    height: 4.5rem;
    transition: height 0.3s;
}

.mobileNavExpand {
    display: none;
}

.mobileNavLink {
    color:  rgba(0, 0, 0, 0.5)
}
  

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #desktop {
        display: none;
    }
    
}

/*Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #desktop {
        display: none;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}






/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #mobile {
        display: none;   
       }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #mobile {
     display: none;   
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #mobile {
        display: none;   
       }
}
.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}





/**
 * ----------------------------------------
 * animation focus-in-expand-fwd START
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation focus-in-expand-fwd END
 * ----------------------------------------
 */
 
/**
 * ----------------------------------------
 * animation scale-in-top START
 * ----------------------------------------
 */

.scale-in-top {
	-webkit-animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  
 
/**
 * ----------------------------------------
 * animation scale-in-top END
 * ----------------------------------------
 */
