/* Mobile Nav */
#mobile {
    height: 4.5rem;
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 1;

    overflow-y: hidden;
    transition: 0.3s; 
}

.mobileNavLink {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
}

#mobile.active {
    height: 100%;    
    background-color: white;
}

.mobileNavExpand.active {
    padding-top: 8%;
    display: block;
}

.mobileNavExpand {
    display: none;
}

.icon1 {
  color: #a3a3a3;
  transition: 0.2s ease-in
}

.icon2 {
  color: #a3a3a3;
  transition: 0.2s ease-in
}

.icon3 {
  color: #a3a3a3;
  transition: 0.2s ease-in
}

.icon1:hover {
  color: #D44638
}
.icon2:hover {
  color: #6e5494
}
.icon3:hover {
  color: #0077B5
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
        
            .navContainer {
              width: 20rem;
              height: 100%;
            }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
     
            .navContainer {

              width: 28rem;
              height: 100%;
            }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

              .navContainer {
                width: 41rem;
                height: 100%;
              }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

               .navContainer {
                width: 50rem;
                height: 100%;
              }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

               .navContainer {
                width: 50rem;
                height: 100%;
              }
}


.icon {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 3px;
  top: 1.9rem;
  background:  #2b2b2b;
  position: relative;
  transition: .3s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background:  #2b2b2b;
  transition: .3s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after { 
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(405deg);
}
.icon.active .hamburger:after {
  top: 0;
  transform: rotate(495deg);
}



.hvr-underline-from-center-nav {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #546de5;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center-nav:hover:before, .hvr-underline-from-center-nav:focus:before, .hvr-underline-from-center-nav:active:before {
  left: 0;
  right: 0;
}




.hvr-box {
  transition: 0.2s;
}

.hvr-box:hover {
  box-shadow: 0 0 8px #ccc;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}