.nextPageBottomTitle-font {
    font-family: 'SFProDisplay-Medium';
    color: #2b2b2b;
}

.nextPageBottomSubTitle-font {
    font-family: 'SFProDisplay-Regular';
    color: #7f8c8d !important
}

.nextPageArrow {
    font-size: '18px';
    float: right;
}

@media (max-width: 575.98px) {
    .nextPageBottomTitle-font {
        font-size: 16px;
    }
    .nextPageBottomSubTitle-font {
        font-size: 16px;
    }
    .nextPageArrow {
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    .nextPageBottomTitle-font {
        font-size: 18px;
    }
    .nextPageBottomSubTitle-font {
        font-size: 18px;
    }
    .nextPageArrow {
        font-size: 18px;
    }
}



