.sectionTitle {
    font-family: 'SFProDisplay-Medium';
    color: #2b2b2b;
    padding: 0px;
    margin: 0px;
}

.sectionSubtitle {
    font-family: 'SFProDisplay-Regular';
    color:#7f8c8d;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 575.98px) {
    .sectionTitle {
        font-size: 34px;
    }
    .sectionSubtitle {
        font-size: 18px;
    }
    .bitmoji {
        width: 78px;
        height: 78px;
    }
}

@media (min-width: 576px) {
    .sectionTitle {
        font-size: 40px;
    }
    .sectionSubtitle {
        font-size: 22px;
    }
    .bitmoji {
        width: 96px;
        height: 96px;
    }
}