/*Global Styles*/
.main-px {
  padding: 0 20rem;
}

.no-pl {
  padding-left: 0 !important;
}

.no-pr {
  padding-right: 0 !important;
}

.p-font{
  font-family: 'Karla', sans-serif;
}

.s-font {
  font-family:'Merriweather', serif;
}

.reg {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.p-colour {
  color: #5e68fc;
}

/* Nav Styles */
.navbar {
  box-shadow: 0 0 10px #ccc;
}

.nav-btn {
  border-radius: 5px;
  color: white;
  background-color: #5e68fc;
  transition: 0.3s ease;
  border: none;
}

.nav-btn:hover {
  background-color: #3340ff;
  color: white;
  border: none;
}

/* About Styles */
.aboutBox {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 20px #ccc;
}
