/*Global Styles*/
.main-px {
  padding: 0 19rem;
}

.no-pl {
  padding-left: 0 !important;
}

.no-pr {
  padding-right: 0 !important;
}

.no-y-space {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Important START*/
.p-font{
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
}

.s-font {
  font-family:'Raleway', serif;
  font-weight: 500;
}

.reg {
  font-weight: 400;
}

.med {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.lightText {
  color: #7f8c8d;
}
/* Important END */
.p-colour {
  color: #5e68fc;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius:50%;
  box-shadow: 0 0 10px #ccc;
  margin: 5px;
}

.figure{
 box-shadow: 0 0 10px #ccc;
 width: 100%;
 border-radius: 15px;
}

.link {
  text-decoration: none;
  
}

.link:hover {
  text-decoration: none;

}

blockquote{
  border-left:4px solid #5e68fc;
  padding-left:1rem;
}
 
.fullscreen {
   background-color: black;
   width:100%;
   height: 100%;
 }


/* Nav Styles */
.navbar {
  box-shadow: 0 0 10px #ccc;
}

.nav-btn {
  border-radius: 15px;
  color: white;
  background-color: #5e68fc;
  transition: 0.3s ease;
  border: none;
}

.nav-btn:hover {
  background-color: #3340ff;
  color: white;
  border: none;
}

.nav-item {
  padding: 0 15px;
}

/*Bg Styles 
.bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: -2;
}
*/

/* About Styles */

.aboutBox {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #ccc;
}

.emojis {
  font-size: 30px;
}

.blue {
  color: #3498db;
}

.red {
  color: #e74c3c;
}

.orange {
  color: #e67e22;
}

.green {
  color: #2ecc71;
}

.gradient1{
  background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.gradient2{
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
}

/* Link */
:root {
  --mainColor: #3498db;
}

.link {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
  color: #000;
  text-decoration: none;
}

.link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%233498db' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
  color: #000;
}

/* Vert Move Animation */
.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



